@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script:wght@700&display=swap');

nav {
    width: 100%;
    height: 4.5rem;
    overflow: hidden;
}

#logo {
    width: 6%;
    margin: 0.7rem;
    margin-left: 0.5rem;
    float: left;
}

#attractionword {
    color:  rgb(252, 252, 252);
    float: left;
    font-weight: 2;
    margin: 2.2rem;
    margin-left: 0.2rem;
    font-family: "Open Sans", Arial, sans-serif  ;
}

#presentation {
    float: right;
    display: flex;
    margin: -1.1rem;
    color: azure;

}

#presentation img {
    padding: 1rem;
    margin-right: -1.8rem;
}

#presentation h5 {
    font-family: "Open Sans", Arial, sans-serif;
    padding: 1.5rem;

}
/* *****************1***************** */

.imageprincipal {
    background: url(images/group-1.jpg) 50% 50%;
    padding-top: 16rem; 
    background-size: cover;
    padding-top: 0.1rem;
}

.imageprincipal h1 {
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    padding-top: 2rem;
  }

.imageprincipal h3 {
    text-transform: uppercase;
    font-size: 1rem;
}

#location {
    text-align: center;
    padding-top: 1rem;
    background-color: #eee;
    opacity: 0.7;
    width: 45%;
    height: 6rem;
    margin-left: 28%;
    border-radius: 0.2rem;
}

#first {
    padding-bottom: 8rem;
  }

  .aftersearch {
      opacity: 0.7;
      width: 7%;
      border: #eee;
      height: 1.7rem;
      margin-top: 2rem;
      margin-left: 45%;
      border-radius: 0.2rem; 
  }

  #location button {
    background-color: #eee;
    background-color: #d35649;
    border: #d35649; 
    height:1.8rem; 
    border-radius: 0.2rem; 
    color: #FFFF;
  }

 #input {
    padding-right: 15rem;
    margin: -0.5rem;
    height:1.3rem; 
    background-color: #ffff;
 }

 /* ********************3*************************  */

 footer {
    width: 100%;
    height: 40%;
    overflow: hidden;
}

#localisation {
    text-align: center;
    padding-top: 5rem;
}

#localisation a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
   padding-inline-end: 1rem;
   padding-inline-start: 1rem;
   font-size: 0.8rem;
   font-family: 'Advent Pro', sans-serif;
}

.deuxiemetrait {
    height: 0.1rem;
    width: 50%;
    margin: 1rem auto;
    background-color: #ffffff;
}

.troisiemetrait {
    height: 0.01rem;
    width: 50%;
    margin: 1.5rem auto;
    background-color: #ffffff;
}

.info a{
    color: #ffff; 
   text-decoration: none;
   padding-inline-end: 9.5rem;
   padding-inline-start: 9.5rem;
  
 }

 .info {
    text-align: center;
    margin: 4rem;
    font-size: 1.1rem;
}

#e-mail {
    background-color: #2d3131;
    border-radius: 0.5rem;
    width: 5%;
    margin-top: -2.2rem;
    height: 2.5rem;
    float: left;
    margin-left: 19rem;
}

#sugest h5 {
    text-align: center;
    color: #ffff;
    font-size: 1rem;
}

#sugest h6 {
    text-align: center;
    margin: 6rem;
    font-size: 0.9rem;
}


#textabout {
    float: right;
    margin: -8rem;
    margin-right: 3rem;
    text-align: center;
}

a i{
    color: #b3aeae;
    margin: 2rem;
    
}

.reseaux h5 {
    float: right;
    padding-top: 0.8rem;
}

input {
    background-color: #000;
    margin-left: 8rem;
    height: 1.5rem;
    margin-top: -6rem;
    
 }
 
 ::placeholder {
  padding-left: 0.8rem;
 }